h3, h4, h5, p {
  margin: 0;
  padding: .5em 0;
}

.form-style {
  width: 95%;
  margin: 10px auto;  
}

.form-style fieldset {
  margin: 0px 0px 10px 0px;
	padding: 12px;
	border: 1px solid #6096ba;
  border-radius: 10px;
}

.form-style fieldset legend {
  padding: 0px 12px;
  margin-left: 1em;
  border-top: 1px solid #6096ba;
	border-left: 1px solid #6096ba;
	border-right: 1px solid #6096ba;
	border-radius: 5px 5px 0px 0px;
}

.tabla {
  margin: 2px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(13.6em, 1fr));
}


.tabla label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabla label > span {
	color: #0c1821;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}

.tabla input[type=number]{
  width: 100px;
  margin-right: 1em;
	padding: 5px 8px 5px 8px;  
  border-radius: 5px;
  border: 1px solid #324a5f;
	color: #1b2a41;
	box-shadow: inset 1px 1px 4px #cde5d7;
}

.requerido{
	color:red;
	font-weight: normal;
}

.guia {
  box-sizing: border-box;
  width: 95%;
  padding: .3em .8rem;
  margin: 20px auto;
  border: 1px solid #6096ba;
  border-radius: 10px;
  text-align: justify;
  background: #8d96b6;
}
.guia p {
  font-size: .8em;
}

.row {
  height: auto;
  display: grid;  
  grid-template-columns: repeat(6, 1fr);
}

.titulo {
  border-radius: 10px 10px 0px 0px;
  color: #BBB;
  background-color: #1b2a41 !important;
}

.titulo:not(small) {
  font-size: 1.1em;  
}

.row .cel {  
  margin: 0;
  padding: .5em .8em;
  align-self: center;
}
.cel label > input {
  width: 5em;
  height: 1.8em;
  padding: 0.3em 0.5em;
  border-radius: .5em;
  text-align: center;
  border: 1px solid #324a5f;
  color: #1b2a41;
  box-shadow: inset 1px 1px 4px #cde5d7;
}
.row > .cel > span {
  display: none;
}
.row > .cel > small,
.cel h4 > small {
  display: block;
  margin-top: .4em;
}
 
.cel:first-child {
  grid-column: span 2;
}
.cel:not(:first-child) {
  justify-self: center;
}
.row:nth-child(odd) {
	background-color: #bdbcbc;
}
.row:not(.titulo):nth-child(even) {
	background-color: #e7ecef;
}
.totales{
  border-radius: 0px 0px 10px 10px;
  font-weight: bold;
  background-color: #6096ba !important;
}

@media screen and (max-width: 650px) {
  .table {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .table > .titulo {
    display: none;
  }  
  .table > .row:not(.titulo) {
    display: block;
    margin: 0.5em 0;
  }
  .table > .row:not(:first-child) > .cel:first-child {
    border-radius: 1em 1em 0 0;
    color: #BBB;
    border-top: none;
    background-color: #1b2a41 !important;
  }
  .table > .row {
    border-radius: 1em 1em 1em 1em;    
  }
  .row > .cel > span {
    display: inline;
    padding-left: 1rem;
    font-weight: bold;
    text-align: start;
  }
  .cel {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    border-top: 1px solid #000;
  }
  .cel:not(:first-child) {
    text-align: center;
  }
  .cel:nth-child(4),
  .cel:nth-child(5) {
    padding-right: 2em;
  }
  .cel label > input {
    width: 80%;
  }
}